.jumbotron {
    background: #cecac8;
    color: #000;
    font-size: 24px !important;
    border-radius: 0px !important;
}
.jumbotron-sm {
    /* padding-top: 24px;
    padding-bottom: 24px; */
}
.jumbotron small {
    color: #000;
}
.jumbotron .h1 {
    font-size: 42px;
}
.h1 small {
    font-size: 24px;
}

.header-contato{
    margin: 0 !important;
    padding: 0 !important;
}
.jumbotron-footer{
    background: #1D9F75;
    margin-top:40px !important;
    margin-bottom: 0 !important;
}

.formFields .form-group input, .formFields .form-group select, .formFields .form-group textarea{
    border-radius: 0 !important;
    font: 14px helvetica, sans-serif;
}
.formFields .form-group label{
    font: 16px helvetica, sans-serif;
    margin-left: 5px;
}
.well-sm {
    border-radius:0 !important;
    padding:30px !important;
}
.square-mail {
    border-radius: 0 !important;
}

.input-error{
    border-color: #FF0000;
    background: url("../img/alert-red.png") no-repeat center right;
}